/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-thumb{
  background: #5827a8;
  border-radius: 100px;
}
::-webkit-scrollbar-track{
  background: #fff;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35) ;
}

.nav-links {
  list-style: none;
  font-size: 16px;
  border-radius: 100px;
}

.nav-links > li > a{
  background: #d9c2ff;
  padding: 8px 20px;
  position: relative;
  overflow: hidden;
}
.first{
  border-radius: 100px 0 0 100px;
}
.first,.second,.third{
  border-right: 1px solid #3d1979;
}
.last{
  border-radius: 0 100px 100px 0;
}
a {
  color: black;
  text-decoration: none;
  position: relative;
}

.overlay{
  background: #7F5EB5;
  height: 100%;
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0.3;
}
.one{
    border-radius: 100px 0 0 100px;
}
.four{
  border-radius: 0 100px 100px 0;
}
a:hover {
  color: #3d1979;
}
a:hover > span{
  width: 100%;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}
.logo {
  height: 40px;
}

.logo:hover {
  cursor: pointer;
}
.profile-end{
  position: absolute;
  width: 100%;
  height: 5px;
  background: #3d1979;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
  z-index: 100;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(5px, 7px);
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  box-sizing: border-box;
}



/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100%;
}

.section__pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: auto 0;
}
.hero_pic{
  border-radius: 100%;
  width: 50%;
  box-shadow: 0 0 0 3px #fff,0 0 0 5px #594598;
  transition: all 0.3s ease;
}
/* .hero_pic:hover{
  box-shadow: 0 0 0 8px #3d1979,0 0 0 16px #5827a8, 0 0 0 24px #7F5EB5;
} */
.section__text {
  width: 100%;
  align-self: center;
  text-align: center;
}
.section-text-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.socials{
  background: #decafd;
  padding: 5px 15px;
  border-radius: 100px;
  cursor: pointer;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */
.btn-container-one {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
.btn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  font-family: 'Poppins';
  text-align: center;
}

.btn-color-1,
.btn-color-2 {
  border: #754db6 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: #5827a8;
  color: white;
}
.btn-color-1{
  font-weight: 500;
  letter-spacing: 1px;
}
.btn-color-1:hover {
  background: #3d1979;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: #754db6 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about__pic-container{
  width: 30%;
  display: grid;
  place-items: center;
}
.about-containers {
  gap: 2rem;
  margin-block: 2rem;
}

.about-details-container {
  justify-content: center;
  width: 50%;
  flex-direction: column;
  margin-left: 2vh;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 15px;
  width: 25vw;
}

.arrow {
  position: absolute;
  right: 0;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: #3d1979;
  color: #fff;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
.skills-container{
  padding: 1.5rem;
  flex: 1;
  border-radius: 2rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.fa-solid{
  font-size: 30px;
  margin-bottom: 10px;
}
.Web-D{
  font-weight: bolder;
  text-transform: x;
}
/* EXPERIENCE SECTION */

#experience {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: 1.5vw;
}

.experience-sub-title {
  color: #3d1979;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
}

.article-container {
  display: flex;
  justify-content: center;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

h3{
  color: #3d1979;
}

.skill-lvl{
  color: #5827a8;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 15vh;
}
.project-details-container{
  width: calc(100% - 30px);
  margin-top: 10vh;
}
.project-containers{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.project-details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 60%;
}
.project-container{
  background: linear-gradient(50deg, #7F5EB5,#754db6,#5827a8,#3d1979);
  padding: 1.5vw;
  border-radius: 50px;
  min-height: 500px;
}

.color-container {
  border-color: rgb(163, 163, 163);
  margin-right: 10px;
  margin-bottom: 5vh;
}
.project-description{
  color: #fff;
  margin: 0 0 15px 1rem;
  font-size: 14px;
  width: 300px;
  font-weight: 300;
}
.project-img {
  border-radius: 2rem;
  height: 200px;
  width: 350px;
  object-fit: cover;
  
}

.project-title {
  color: #fff;
  margin: 1rem 1rem 0 1rem;
}

.project-btn {
  border-color: rgb(163, 163, 163);
  color: #fff;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10vh;
}
.contact-form{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.email-label,.contact-label,.message-label{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #000;
  width: 90%;
}

.contact-info-upper-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 2rem;
  border: 1px solid darkgray;
  margin: 2rem auto;
  padding: 3vw;
  min-height: 50vh;
  width: 60vw;
}
.email-input,.contact-input,.message-input{
  border: none;
  margin-bottom: 10vh;
  border-bottom: 1px solid;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  resize: none;
}
.email-input:focus,
.contact-input:focus,
.message-input:focus{
  outline: none;
}
.email-input::placeholder,
.contact-input::placeholder,
.message-input::placeholder{
  font-family: 'Poppins';
}
.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
  width: 100%;
}

.contact-info-container p {
  font-size: larger;
}

.contact-social-container{
  margin-top: 15px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.contact-social-container > p{
  margin: 10px ;
}
.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}
.submit{
  width: 200px;
  padding: 1rem;
  background: #333;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins';
  cursor: pointer;
}
.contact-socials{
  font-size: 16px;
}

/* FOOTER SECTION */

footer {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2vw;
  padding-block: 5vh;
  margin-top: 20vh;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  nav{
    padding: 10px;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
    width: 98%;
  }
  #profile{
    display: block;
  }
  .section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about__pic-container{
    width: auto;
  }
  .about-pic{
    height: 200px;
    width: 200px;
    margin-bottom: 6vh;
    margin-left: 0;
  }
  .arrow {
    display: none;
  }
  section {
    height: fit-content;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto;
  }
  .about-containers {
    margin-top: 0;
  }
  .section__text{
    padding-left: 20px;
    width: calc(100% - 25px);
    display: flex;
    justify-content: center;
  }
  .contact-info-upper-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 2rem;
    border: 1px solid darkgray;
    margin: 2rem auto;
    padding: 5vw;
    min-height: 50vh;
    width: 80vw;
  }
  .email-input,.message-input{
    border: none;
    margin-bottom: 10vh;
    border-bottom: 1px solid;
    padding: 10px;
    width: 95%;
    font-size: 16px;
    resize: none;
  }
  footer {
    margin-top: 2vh;
  }
}

@media screen and (max-width: 600px) {
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .experience-details-container{
    width: 70%;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 50%;
    justify-content: center;
  }
  .section__text__p1{
    margin-top: 20px;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .about-details-container{
    width: 90%;
  }
  .details-container > p{
    font-size: 12px;
  }
  .project-container{
  border-radius: 40px;
  padding-block: 10px;
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer > .logo-container > .logo{
    height: 40px;
  }
  footer > .logo-container > h1{
    font-size: 14px;
  }
  footer > p{
    font-size: 14px;
  }
}
input::-webkit-scrollbar{
  display: none;
}